.header{
    position: sticky;
    top:0;
}
.navBox{
    padding: 30px;
    border-radius: 0px 0px 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo{
    width: 32px;
    height: 32px;
}

.links{
    display: flex;
    gap: 15px;
}

.navBox a{
    text-decoration: none;
    font-size: 20px;
    padding: 0px 15px;
    font-weight: 600;
    letter-spacing: 2px;
}


