.header{
    position: sticky;
    top:0;
}
.navBox{
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(209, 146, 152, 50%);

}


.links{
    display: flex;
    gap: 15px;
}

.navBox a{
    text-decoration: none;
    font-size: 20px;
    padding: 0px 15px;
    font-weight: 600;
    letter-spacing: 2px;
}


