.navBox{
    padding: 30px;
    background-color: aquamarine;
    border-radius: 0px 0px 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:40px;
}

.logo{
    width: 32px;
    height: 32px;
}

.links{
    display: flex;
    align-items: center;
}
.linkDiv{
    display: flex;
    padding:10px;
}
a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}